* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    justify-content: center;
}

body h1 h2{
    font-family: $font-headings;
}

body p{
    font-family: $font-body-call;
}