header{
    @include display-column;
    background-color: $very-pale-cyan;
    background-image: url("../images/bg-hero-desktop.svg");
    background-repeat: no-repeat;
    padding-top: 2em;
    justify-content: center;
    align-items: center;
    nav{
        @include display-row;
        justify-content: space-around;
        img {
            margin-right: 50em;
        }
    }
}

.header-content {
    @include display-row;
    align-items: center;
    justify-content: center;
    padding: 3em 0;
    width: 90%;
}

.header-text {
    font-family: $font-headings;
    margin-right: 2em;
    h1 {
        padding-bottom: 0.8em;
    }

    p {
        padding-bottom: 1.5em;
    }

}

.header-img {
    img {
        width: 40em;
        height: 30em;
    }
}

@media only screen and (max-width: 1260px) {
    header {
        background-image: url("../images/bg-hero-mobile.svg");
        nav {
            width: 100%;
            justify-content: space-around;
            img {
                margin-right: 2em;
            }
        }
    }

    .header-content {
        @include display-column;
        text-align: center;
    }

    .header-img {
        img {
            padding-top: 2em;
            width: 90%;
            height:auto;
        }
    }
}