.sections {
    @include display-column;
    justify-content: center;
    align-items: center;
}

.section {
    @include section;
}

.text-section {
    width: 30em;
}

.grow-together {
    .text-section {
        margin-right: 10em;
    }
}

.flow-conversations {
    .text-section {
        margin-left: 10em;
    }
}

.users {
    .text-section {
        margin-right: 10em;
    }
}

.get-start {
    @include shadow-section;
    padding: 2em 4em;
    border-radius: 0.5em;
    background-color: white;
    text-align: center;
    transform: translate(0, 50%);
    
    h2 {
        font-family: $font-headings;
        color: $very-dark-cyan;
        padding-bottom: 1em;
    }
}

@media only screen and (max-width: 1260px) {
    .section {
        @include display-column;
        text-align: center;
        height: auto;
        padding: 1em;

        img {
            width: 70%;
            height: auto;
        }
    }

    .text-section {
        width: auto;
        padding: 2em 0;
    }

    .grow-together {
        img {
            padding-bottom: 2em;
        }
        .text-section {
            margin-right: 0;
        }
    }
    
    .flow-conversations {
        img {
            padding-top: 2em;
        }
        .text-section {
            margin-left: 0;
        }
    }
    
    .users {
        img {
            padding-bottom: 2em;
        }
        .text-section {
            margin-right: 0;
        }
    }

    .get-start {
        width: 90%;
    }
}