/*headings*/

$font-headings: 'Poppins', sans-serif;
$weight-heading: 600;

/*Body - Call to Actions*/
$font-body-call: 'Open Sans', sans-serif;
$weight-body-sm: 400;
$weight-body-lg: 700;


$font-size: 18px;

